@charset "utf-8";

body{
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino kaku Gothic Pro","メイリオ",Meiryo,Osaka,"MS Pゴシック","MS PGothic",sans-serif;
  color: #333;
  font-size: 13px;
  line-height: 150%;
}

#wrapper{
  width: 100%;
  margin: auto;
  padding: 0;
  border: 0;
  background-color: #fff;
  top: 10px;
  position: relative;
}

#header{
  width: 100%;
}

#header h1{
  margin: 0;
  padding: 0;
}

#corridor{
  width: 100%;
  height: auto;
}

#footer{
  clear: both;
  width: 100%;
  padding: 3px 0;
  background: #39f;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#nav{
  width: 100%;
}

#nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

#nav ul li{
  width: 20%;
  text-align: center;
}

#nav ul li a{
  display: block;
  height: 20px;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  background-color: green;
  border-left:1px solid white;
}

#nav ul li a:hover{
  filter:drop-shadow(10px 10px 10px black);
}





#container{
  width: 100%;
  margin: auto;
  padding-top: 20px;
  clear: both;
  display: grid;
  grid-template-columns: 70vw 30vw;
}

#main{
  width: 95%;
  padding: 10px 30px 10px 10px;
}

#main h2{
  margin: 0 0 10px ;
  padding: 3px 10px;
  color: #fff;
  font-size: 16px;
  border-left: 10px solid #c00;
  background:#f90 url(../images/main_h2.jpg) right top repeat-y;

}

#main p{
  margin: 0;
  padding: 0;
}

#main .post{
margin: 0 0 30px;
}

#main .post img.right{
  margin: 0 0 0 8px;
}

#main .post img.left{
  margin: 0 8px 0 0;
}

.right{
  float: right;
  width: 40%;
  height:auto;
}

.left{
  float: left;
  width: 40%;
  height: auto;
}

.clearfix{
  zoom: 1;
}

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}

#side{
  width: 85%;
  padding: 20px;
  background-color: #f99;
}

#side .box{
  margin: 0 auto 30px ;
  padding: 0 0 20px;
  background: url(images/side_box.png) bottom no-repeat;
}

#side .box h2{
  margin: 0;
  padding: 8px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  background: url(images/side_box_h2.png) center no-repeat;
}

#side .box .boxBody{
  padding: 8px;
  border-right: 1px solid #c36;
  border-bottom: 1px solid #c36;
  border-left: 1px solid #c36;
  background: #fff;
}

#side .box .boxBody ul{
  margin: 0 0 16px;
  padding: 0;
}

#side .box .boxBody ul li{
  padding:  8px 0 8px 4px;
  list-style: none;
  border-bottom: 1px solid #c36;
}

#side .box .boxBody ul li:hover{
  padding: 8px 0 8px 4px;
  list-style: none;
  border-bottom: 1px solid #c36;
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
}



















